{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center post-color" style="margin-top:30px; height:100px;">
  <h4 class="title_font">{% trans "Are you sure you want to log out?" %}</h4>
</div>
<div class="form-group d-flex align-items-center justify-content-center">
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary m-12"type="submit">{% trans 'Log Out' %}</button>
  </form>
</div>

<div style="height:375px;"></div>

{% endblock %}