{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}



{% block content %}
<div class="d-flex justify-content-center post-color" style="margin-top:30px">
    <h1 class="title_font">Share a Moment</h1>
</div>
</br>

<div class="d-flex align-items-center justify-content-center">
    <br /><br />
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary m-12" type="submit">Post</button>

    </form>
</div>
{% endblock content %}