{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
  <title>Babis</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Social network for parents to share posts of their children with closest ones. It's like a diary
              where parents can keep relatives and friends updated">
  <meta name="keywords"
    content="Babies, children, family, love, connection, socia media, together, private">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
</head>

<body class="d-flex flex-column h-100 main-bg">

  <!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand logo_font large_text light_font white_font" href="{% url 'home' %}">
        <img
          src="https://img.freepik.com/premium-vector/cute-baby-elephant-with-moon-stars-vector-illustration_159446-654.jpg?w=740", alt="Baby image",
          width="60"> Babis
      </a><span class="font_italic">Share special moments of your little ones with the people that matter</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 10px; "id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'post_detail' %}">Moments</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{user}}
            </a>
            {% if user.is_parent %}
            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item small_text" href="{% url 'add_child'%}"
                  aria-label="Go to the categories page">Add Child</a>
              </li>
              <li>
                <a class="dropdown-item small_text" href="{% url 'my_children'%}"
                  aria-label="Go to the each category page">My Children</a>
              </li>
              <li>
                <a class="dropdown-item small_text" href="{% url 'account_logout'%}"
                  aria-label="Go to the each category page">Logout</a>
              </li>
            </ul>
            {% else %}
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item small_text" href="{% url 'account_logout'%}"
                  aria-label="Go to the each category page">Logout</a>
              </li>
            </ul>
            {% endif %}

            {% else %}
          <li class="nav-item">
            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Register
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <main class="flex-shrink-0 main-bg">
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
  </main>

  <!--Footer-->
  <footer class="bg-light text-lg-start">

    <div class="text-center py-4 align-items-center">
      <p>Follow Babis on social media</p>
      <a href="" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3 post-color">
      © 2022 Copyright: Daniel Porras
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->

  <!---Register form modal--->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title title_font" id="exampleModalLabel">The User is?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Continue</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

</body>

</html>