{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


<!-------------------------SEPARATE-->
{% block content %}
<section>
  <div class="container-fluid img-wrapper">
  <img src="https://res.cloudinary.com/dsxoxa2ha/image/upload/v1661502720/theo_home_landing_hx5yzc.jpg" class="img-fluid" alt="Theo and sunset">
  </div>
</section>

<!-- end of section homepage  -->

<!-- section about-->
<section class="about-section my-5">
  <div class="container">
    <h1 class="text-center title_font">About Us</h1>
    <hr class="mb-5">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <p>
        </p>
        <p>
          "Share the special moments of your little ones
          with the people that really matter. Babis is a quiet space where the only purpose is to extend the connection among loved ones in an intimate way."
        </p>
        <p>
          "Understanding the need of a simplier, less crowded and more delicate space where you can share with those who are really close to you, how your children are growing"
        </p>
      </div>
    </div>
  </div>
</section>
<div class="col-md-4 mx-auto">
  <div id="carouselBabis" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner"> 
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://res.cloudinary.com/dsxoxa2ha/image/upload/v1661281829/theo_dad_vil54v.jpg" alt="Second slide">
      </div>
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://res.cloudinary.com/dsxoxa2ha/image/upload/v1661281784/theo_mom_vbs4yc.jpg" alt="First slide">
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100" src="https://res.cloudinary.com/dsxoxa2ha/image/upload/v1661281784/theo_sunset_snsr0o.jpg" alt="Third slide">
      </div>
    </div>
  </div>
</div>
<!-------------------------SEPARATE---------->

{% endblock content %}