{% extends "base.html" %}
{% load static %}


<main class="flex-shrink-0 main-bg">
    {% block content %}
    <header>
        <!-- Intro settings -->
        <style>
          #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 58px;
          }
          @media (max-width: 991px) {
            #intro {
              /* Margin to fix overlapping fixed navbar */
              margin-top: 45px;
            }
          }
        </style>
    
       
    
        <!-- Jumbotron -->
        <div id="intro" class="p-5 text-center bg-light">
          
          <a class="btn btn-primary m-12" href="{% url 'add_post'%}" role="button" rel="nofollow" onclick='overlay()'
            >Post a ***BABYNAME*** moment</a>
          <a class="btn btn-primary m-2" href="" target="_blank"
            role="button">Download MDB UI KIT</a>
        </div>
        <!-- Jumbotron -->
      </header>
      <!--Main Navigation-->
    
      <!--Main layout-->
      
      <main class="my-5">
        <div class="container">
          <!--Section: Content-->
          <section class="text-center">
            <h4 class="mb-5"><strong>Latest posts</strong></h4>
            <div class="row">
              {% for post in post_list %}
              <div class="mx-auto col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                    <h5 class="card-title secondary_font">{{ post.title }}</h5>
                    <p class="card-text secondary_font">{{ post.content }}</p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Theo de paseo
                </p>
                <a href="#!" class="btn btn-primary">Comment</a>
              </div>
              
              {% endfor%}
            </div>
            <!--<div id="overlay">
              <h1>Create a Post</h1>
              <br/><br/>
              <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button>Post</button>
              </form>    
            </div>-->
          </section>
          <!--Section: Content
    
          Pagination
          <nav class="my-4" aria-label="...">
            <ul class="pagination pagination-circle justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
        -->
      </main>
      <!--Main layout-->
    
     
    {% endblock content %}
</main>