{% extends "base.html" %}
{% load static %}


<main class="flex-shrink-0 main-bg">
    {% block content %}
    <header>
        <!-- Intro settings -->
        <style>
          #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 58px;
          }
          @media (max-width: 991px) {
            #intro {
              /* Margin to fix overlapping fixed navbar */
              margin-top: 45px;
            }
          }
        </style>
    
    
    
 
    
        <!-- Jumbotron -->
        <div id="intro" class="p-5 text-center bg-light">
          
          <a class="btn btn-primary m-12" data-bs-toggle="modal" data-bs-target="#postModal">
            Post a ***BABYNAME*** moment</a>
            <!--{%jinja% if is_parent}--> 
              <a class="btn btn-primary m-12" href="" role="button" rel="nofollow" 
              >Add Child Profile</a>  
              <a class="btn btn-primary m-12" href="" role="button" rel="nofollow" 
              >Invite Guest</a>  
           
           
            <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="postModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Create Post</button>
                      </form>
                  </div>
                  <div class="modal-footer">
                    
                    
                  </div>
                </div>
              </div>
          </div>  
          <!--<a class="btn btn-primary m-2" href="" target="_blank"
            role="button">Download MDB UI KIT</a>-->
        </div>
        <!-- Jumbotron -->
      </header>
      <!--Main Navigation-->
    
      <!--Main layout-->
      
      <main class="my-5">
        <div class="container">
          <!--Section: Content-->
          <section class="text-center">
            <h4 class="mb-5"><strong>Latest posts</strong></h4>
            <div class="row">
              {% for post in post_list %}
              <div class="mx-auto col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                    <p class="card-text secondary_font">{{ post.author }}</p>
                    <h5 class="card-title secondary_font">{{ post.title }}</h5>
                    <p class="card-text secondary_font">{{ post.content }}</p>
                    <p>HOLA</p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <a href="#!" class="btn btn-primary">Comment</a>
              </div>
              
              {% endfor%}
            </div>
            
          </section>
       
      </main>
      <!--Main layout-->
    
     
    {% endblock content %}
</main>